<MatSelectValue @bind-Value="@CommunitySelected" Items="@CommunitiesToSelect" ValueSelector="@(i=>i)"
				TValue="CommunityUpdateViewModel" TItem="CommunityUpdateViewModel" 
				HelperTextPersistent="false" Label="Seleziona la community">
	<ItemTemplate>
		<span>@context.Name</span>
	</ItemTemplate>
</MatSelectValue>
@*<ValidationMessage For="@(() => CommunitySelected)" />*@

