@page "/events"

<div class="mat-layout-grid">
	<div class="mat-layout-grid-inner">
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
			<MatH6>Lista Eventi</MatH6>
		</div>
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6" style="text-align:right;">
			<MatButton OnClick="Create" Label="Crea evento" Icon="@MatIconNames.Create"></MatButton>
		</div>
	</div>
</div>

<MatTable Items="@EventViewModels" Striped="true" ShowPaging="false" SortBy="StartDate" class="mat-elevation-z5">
	<MatTableHeader>
		<th width="20%">Name</th>
		<th width="10%">Start Date</th>
		<th width="10%">End Date</th>
		<th width="35%">Community</th>
		<th width="10%">Tickets</th>
		<th>Actions</th>
	</MatTableHeader>
	<MatTableRow>
		<td>@context.Name</td>
		<td>@context.StartDate.ToString("d")</td>
		<td>@context.EndDate.ToString("d")</td>
		<td>@context.Community.Name</td>
		<td>
			@if (!string.IsNullOrEmpty(context.BuyTicket))
			{
				<MatIconButton Link="@context.BuyTicket" Target="_blank">
					<MatIcon>@MatIconNames.Link</MatIcon>
				</MatIconButton>
			}
		</td>
		<td>
			<div style="display:block;">
				<MatIconButton OnClick="@(() => Edit(context))">
					<MatIcon>@MatIconNames.Edit</MatIcon>
				</MatIconButton>

				<MatIconButton OnClick="@(() => Delete(context.Id))">
					<MatIcon>@MatIconNames.Delete</MatIcon>
				</MatIconButton>
			</div>
		</td>
	</MatTableRow>
</MatTable>
<div>
	<MatPaginator Length="@Total" PageSize="@PageSize" Page="@OnPage"></MatPaginator>
</div>
