@page "/EventCreate"

<h3>EventCreate</h3>

<EditForm Model="EventViewModel" OnValidSubmit="Success">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mat-layout-grid">
		<div class="mat-layout-grid-inner">
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<MatTextField Label="Nome evento" @bind-Value="EventViewModel.Name" FullWidth="true" />
				<ValidationMessage For="@(() => EventViewModel.Name)" />
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<MatTextField Label="Acquista biglietto" Icon="@MatIconNames.Event_seat" IconTrailing="true" @bind-Value="EventViewModel.BuyTicket" FullWidth="true" />
				<ValidationMessage For="@(() => EventViewModel.BuyTicket)" />
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<MatDatePicker Label="Start Date" @bind-Value="EventViewModel.StartDate" FullWidth="true" />
				<ValidationMessage For="@(() => EventViewModel.StartDate)" />
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<MatDatePicker Label="End Date" @bind-Value="EventViewModel.EndDate" FullWidth="true" />
				<ValidationMessage For="@(() => EventViewModel.EndDate)" />
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
				<MatFileUpload OnChange="@FilesReady" Label="Carica l'immagine dell'evento"></MatFileUpload>
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
				<div class="mat-layout-grid-inner mat-elevation-z2 mat-padding">
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
						<MatSubtitle2>Call for speaker</MatSubtitle2>
					</div>
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
						<MatTextField Label="Call for speaker url" @bind-Value="EventViewModel.CFP.Url" Icon="@MatIconNames.Share" IconTrailing="true" FullWidth="true" />
					</div>
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
						<MatDatePicker Label="Start Date" @bind-Value="EventViewModel.CFP.StartDate" FullWidth="true" />
						<ValidationMessage For="@(() => EventViewModel.CFP.StartDate)" />
					</div>
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
						<MatDatePicker Label="End Date" @bind-Value="EventViewModel.CFP.EndDate" FullWidth="true" />
						<ValidationMessage For="@(() => EventViewModel.CFP.EndDate)" />
					</div>
				</div>
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
				<div class="mat-layout-grid-inner mat-elevation-z2 mat-padding">
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
						<MatSubtitle2>Community</MatSubtitle2>
					</div>
					<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
						<CommunitySelect @bind-CommunitySelected=EventViewModel.CommunityName></CommunitySelect>
					</div>
				</div>
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12" style="text-align: center">
				<MatButton Icon="@MatIconNames.Save" Raised="true" Type="submit">Save</MatButton>
			</div>
		</div>
	</div>
</EditForm>