@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

    <MatNavMenu Multi="true" Class="app-sidebar">
       
        <MatNavItem Href="@navigationManager.ToAbsoluteUri(" ").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
            <MatIcon>home</MatIcon> <span class="miniHover">Home</span>
        </MatNavItem>

        <MatNavItem Href="events">
            <MatIcon>@MatIconNames.Event</MatIcon> <span class="miniHover">Events</span>
        </MatNavItem>

        <MatDivider></MatDivider>

        <MatNavItem Href="communities">
            <MatIcon>@MatIconNames.Group</MatIcon> <span class="miniHover">Communities</span>
        </MatNavItem>

        <MatNavItem Href="articles" Disabled="true">
            <MatIcon>@MatIconNames.Create</MatIcon> <span class="miniHover">Articles</span>
        </MatNavItem>

        <MatNavItem Href="people" Disabled="true">
            <MatIcon>@MatIconNames.Face</MatIcon> <span class="miniHover">People</span>
        </MatNavItem>

        <MatDivider></MatDivider>

        <MatNavItem Href="reports">
            <MatIcon>@MatIconNames.Report</MatIcon> <span class="miniHover">Report</span>
        </MatNavItem>
    </MatNavMenu>
